@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --base-color: rgb(20, 20, 20);
  --basevar-color: #3f4a4e;
  --main-color: #6b98c2;
  --secon-color: #b7dfe6;
  --high-color: #67cbe4;
}
.lightmode {
  --base-color: #cbe8ec;
  --basevar-color: #8bb5e5;
  --main-color: #6b7bc2;
  --secon-color: #4a4e8c;
  --high-color: #191b33;
}
body {
  background: linear-gradient(
    180deg,
    var(--base-color) 0%,
    rgb(21, 22, 26) 100%
  );
  color: var(--high-color);
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*/////////////////////////////////////*/
/* Dont touch it (view() animation)*/
section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 30vh;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}
/* Dont touch it*/
section {
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
/*/////////////////////////////////////*/
/* From Uiverse.io by alexroumi 
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: sticky;
  top: 90%;
  left: 89%;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

img {
  filter: invert(59%) sepia(19%) saturate(1003%) hue-rotate(186deg)
    brightness(94%) contrast(100%);
}
*/
/*/////////////////////////////////////*/
h1,
h2 {
  transition: 0.7s;
}

h1 {
  font-size: 4rem;
}

h1:hover,
h2:hover {
  color: var(--secon-color);
  transform: scale(1.1);
}

p {
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 5px;
  transition: 0.5s ease-out;
  font-weight: 600;
  margin: 8px;
  width: 30vh;
  font-family: inherit;
}
button:hover {
  box-shadow: 0 0.7rem 1rem -0.4rem #67cbe498;
}
hr {
  margin-bottom: 24px;
}
.primary-btn {
  background-color: var(--high-color);
  border: 0;
  outline: #2a262c;
}
.outline-primary-btn:hover {
  background-color: var(--basevar-color);
}
.outline-primary-btn {
  background-color: var(--base-color);
  color: var(--high-color);
  border: 2px solid var(--high-color);
}

/* Intro
///////
*/
#intro {
  height: 100vh;
  animation: appear 0.8s ease-in-out forwards;
  /* Optional: make sure it's ready to animate */
  opacity: 0;
}
#intro h1,
p,
h3 {
  margin: 6px 10px;
}
#intro p {
  font-style: italic;
}

/* Indice
///////////
*/
#index {
  display: grid;
  place-items: center;
  align-content: center;
  width: 100%;
}
#index ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
#index li a {
  margin: 0 3em;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.3s;
  color: var(--high-color);
  text-decoration: none;
}
#index li a:hover {
  transform: scale(1.1);
  font-weight: 700;
  color: white;
}
#index hr {
  width: 100%;
  background-color: var(--high-color);
  border: none;
  height: 2px;
}

/* Marquee (Infinite scroll)
//////////////////////////////////
*/
#marque {
  min-height: 10vh;
}
#marquee .tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}
.tag-list li {
  padding: 1rem;
  background-color: var(--base-color);
  border: 2px solid var(--high-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.4rem var(--high-color);
  color: var(--high-color);
  transition: 1s;
  font-size: 1.2rem;
  font-weight: 500;
}
.tag-list li:hover {
  color: white;
  font-weight: bold;
  transform: scale(1.1);
}
.scroller {
  max-width: 80%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent 20%, white);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}
.scroller__inner {
  padding-block: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 1080px;
  width: calc(100%-20px);
}

.card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 3px solid rgba(101, 198, 223, 0.1);
  height: 260px;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.card::before {
  background: radial-gradient(
    800px circle at 100px 100px,
    rgba(255, 255, 255, 0.06),
    transparent 50%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 2;
}

/* Projects section
/////////////////////////////////
*/
#projects li {
  animation: appearLeft ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
  display: flex;
  gap: 16px;
  font-size: 1.5rem;
  margin: 50px;
}
#projects li img {
  max-width: 40%;
  max-height: 300px;
}
.info,
.info a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--high-color);
  transition: 0.5s;
}
.info a:hover {
  transform: translateX(10px);
}
.info span {
  font-style: italic;
  font-size: 1.1;
  color: var(--secon-color);
}
.info h2:hover {
  color: var(--base-color);
}
/* Contact me section*/
#about p {
  color: var(--high-color);
  text-align: center;
}
#about span {
  font-weight: 500;
  font-style: italic;
  color: #bebebe;
  margin-bottom: 6px;
  text-decoration: underline;
  cursor: pointer;
  border: 2px solid #514f52;
  padding: 8px 20px;
  border-radius: 2px;
  background-color: #282829;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

footer a {
  color: var(--secon-color);
  font-weight: 700;
}
