@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --base-color: #2a262c;
  --basevar-color: #554761;
  --main-color: #6b7bc2;
  --secon-color: #756ed4;
  --high-color: #75b2eb;
}
.lightmode {
  --base-color: #cbe8ec;
  --basevar-color: #8bb5e5;
  --main-color: #6b7bc2;
  --secon-color: #4a4e8c;
  --high-color: #191b33;
}
body {
  background: linear-gradient(
    180deg,
    var(--base-color) 0%,
    rgb(21, 22, 26) 100%
  );
  color: var(--high-color);
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*/////////////////////////////////////*/
/* Dont touch it (view() animation)*/
section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 50vh;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

@keyframes appearLeft {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}
/* Dont touch it*/
section {
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
/*/////////////////////////////////////*/
/* From Uiverse.io by alexroumi 
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: sticky;
  top: 90%;
  left: 89%;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

img {
  filter: invert(59%) sepia(19%) saturate(1003%) hue-rotate(186deg)
    brightness(94%) contrast(100%);
}
*/
/*/////////////////////////////////////*/
h1,
h2 {
  transition: 0.7s;
}

h1 {
  font-size: 3rem;
}

h1:hover,
h2:hover {
  color: var(--secon-color);
  transform: scale(1.1);
}

p {
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.5s ease-out;
  font-weight: bold;
  margin: 8px;
  width: 20vh;
}
.primary-btn {
  background-color: var(--high-color);
  border: 0;
  outline: #2a262c;
}
.primary-btn:hover {
  background-color: var(--main-color);
}
.outline-primary-btn:hover {
  background-color: #313358;
}
.outline-primary-btn {
  background-color: var(--base-color);
  color: var(--high-color);
  border: 2px solid var(--high-color);
}
/* Projects section
/////////////////////////////////
*/
li {
  animation: appearLeft ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
  display: flex;
  gap: 16px;
  font-size: 1.5rem;
  margin: 50px;
}
li img {
  max-width: 40%;
  max-height: 300px;
}
.info,
.info a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--high-color);
  transition: 0.5s;
}
.info a:hover {
  transform: translateX(10px);
}
.info span {
  font-style: italic;
  font-size: 1.1;
  font-weight: lighter;
  color: var(--secon-color);
}
.info h2:hover {
  color: var(--base-color);
}
/* Marque (Infinite scroll)
*/
#marquee {
  background-color: var(--high-color);
  color: var(--base-color);
}
#marquee section {
  height: 0;
}

.wrapper {
  width: 90%;
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scroll {
  to {
    left: -200px;
  }
}

.item {
  display: flex;
  width: min(300px, 15%);
  height: 50px;
  background-color: var(--base-color);
  border-radius: 6px;
  position: absolute;
  left: max(1000px, 100%);
  animation-name: scroll;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item span {
  color: var(--high-color);
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s ease-in-out;
}

.item span:hover {
  color: white;
  transform: scale(1.1);
}

/* Contact me section*/
/* From Uiverse.io by Praashoo7 */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.main button {
  background-color: var(--high-color);
}
.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* Shared styles for all cards */
.card {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px;
  box-shadow: var(--high-color) 0px 2px 8px -1px,
    rgba(64, 83, 85, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  scale: 1.1;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
}

.card1:hover {
  background-color: #cc39a4;
}

.card1 .instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #a01b5e;
}

.card1:hover .instagram {
  fill: white;
}

.card2 {
  border-radius: 5px 90px 5px 5px;
}

.card2:hover {
  background-color: #03a9f4;
}

.card2 .twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #0357f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3 {
  border-radius: 5px 5px 5px 90px;
}

.card3:hover {
  background-color: black;
}

.card3 .github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card3:hover .github {
  fill: white;
}

.card4 {
  border-radius: 5px 5px 90px 5px;
}

.card4:hover {
  background-color: #8c9eff;
}

.card4 .discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8650eb;
}

.card4:hover .discord {
  fill: white;
}
