<section id="projects">
  <h2>Projects</h2>
  <div class="projects-container">
    <div class="card">
      <header>
        <img src="" alt="" />
        <h3>Title</h3>
      </header>
      <main>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          consectetur ipsa vero cum maiores, nobis molestiae sit ex alias iste!
        </p>
        <ul class="tech-stack">
          <li>React</li>
          <li>JavaScript</li>
          <li>Node</li>
          <li>Astro</li>
        </ul>
      </main>
      <footer>
        <a href="">Live demo</a>
        <a href="">View code</a>
      </footer>
    </div>
  </div>
</section>
<style>
  section {
    margin-top: 8vh;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  .card {
    max-width: 400px;
    border: 1px solid var(--faint-border);
    border-radius: 8px;
    padding: 1em;
    background: #222;
  }
  .tech-stack {
    display: flex;
    list-style-type: none;
    justify-content: start;
    gap: 5px;
    margin-top: 6px;

    li {
      border: 2px solid var(--faint-border);
      padding: 0 8px;
      border-radius: 25px;
      background: var(--glass-bg-secondary);
      color: black;
      font-weight: 700;
    }
  }
  .card footer {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: white;
    }
  }
</style>
