---
import * as Icons from "simple-icons";

const skills = [
  { label: "JavaScript", icon: Icons.siJavascript },
  { label: "TypeScript", icon: Icons.siTypescript },
  { label: "React", icon: Icons.siReact },
  { label: "Astro", icon: Icons.siAstro },
  { label: "Vue", icon: Icons.siVuedotjs },
  { label: "Tailwind CSS", icon: Icons.siTailwindcss },
  { label: "Node.js", icon: Icons.siNodedotjs },
  { label: "Python", icon: Icons.siPython },
  { label: "Git", icon: Icons.siGit },
  { label: "SQL", icon: Icons.siSqlite },
];
---

<section class="skills-section">
  <h2 class="section-title">Skills</h2>
  <div class="marquee-container">
    <div class="marquee">
      {
        skills.map((skill) => (
          <div class="skill-item">
            <svg
              class="skill-icon"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path d={skill.icon.path} fill="currentColor" />
            </svg>
            <span>{skill.label}</span>
          </div>
        ))
      }
      {
        skills.map((skill) => (
          <div class="skill-item">
            <svg
              class="skill-icon"
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path d={skill.icon.path} fill="currentColor" />
            </svg>
            <span>{skill.label}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .skills-section {
    padding: 4rem 2rem;
    text-align: center;
  }

  .skills-section h2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .marquee-container {
    overflow: hidden;
    background: #2c2c2c;
    padding: 1rem 0;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    mask-image: linear-gradient(
      90deg,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }

  .marquee {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    gap: 1rem;

    & > .skill-item {
      transition: 0.2s ease-out;
    }
    &:hover > .skill-item:hover {
      transform: scale(1.1);
    }
    &:hover > .skill-item:not(:hover) {
      opacity: 0.4;
    }
  }

  .marquee:hover {
    animation-play-state: paused;
  }

  .skill-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.65rem;
    flex-shrink: 0;
    padding: 0.75rem 1.5rem;
    background: var(--aero-black);
    border-radius: 15px;
    color: white;
    font-weight: 500;
    white-space: nowrap;
    border: 2px solid var(--faint-border);
    box-shadow: 0 5px 5px rgb(24, 24, 24);
    transition: 0.2s;
    font-size: 1.2rem;
  }

  .skill-item::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    z-index: -1;
    background: var(--aero-blue);
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .skill-item:hover::after {
    opacity: 1;
  }

  .skill-item span {
    color: white;
  }

  .skill-icon {
    color: white;
    height: 1.3rem;
    aspect-ratio: 1;
    flex-shrink: 0;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
