:root {
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(84, 80, 68);
  background: #cfc9b2;
  background: radial-gradient(
    circle,
    rgba(232, 225, 190, 1) 0%,
    rgba(232, 225, 190, 1) 75%,
    rgba(191, 185, 164, 1) 100%
  );

  --font-primary: rgb(84, 80, 68);

  --fg-primary: rgb(252, 248, 204);
  --fg-secondary: rgb(207, 202, 165);

  --bg-primary: rgb(105, 102, 83);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: "";
  background-image: url("./assets/NierAutomataBg.png");
  background-size: 100% 100%;
  height: 300vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  filter: grayscale(50%);
}

/* ===== GLOBAL STYLES ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2%;
}

a {
  text-decoration: inherit;
}

section {
  padding-bottom: 2em;
  border-bottom: 2px solid var(--fg-secondary);
}

h1 {
  margin-top: 1em;
  font-size: 4.2em;
  font-family: "Montserrat";
  text-transform: uppercase;
}

h1,
h2 {
  font-family: "Montserrat";
  line-height: 1.1;
  text-transform: uppercase;
}
