:root {
  font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(84, 80, 68);
  background: #cfc9b2;
  background: radial-gradient(
    circle,
    rgba(232, 225, 190, 1) 0%,
    rgba(232, 225, 190, 1) 75%,
    rgba(191, 185, 164, 1) 100%
  );

  --font-primary: rgb(84, 80, 68);

  --fg-primary: rgb(252, 248, 204);
  --fg-secondary: rgb(207, 202, 165);

  --bg-primary: rgb(105, 102, 83);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::after {
  content: "";
  background-image: url("./assets/NierAutomataBg.png");
  background-size: 100% 100%;
  height: 300vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  filter: grayscale(50%);
}

/* ===== GLOBAL STYLES ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2%;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: inherit;
}

section {
  padding-bottom: 2em;
  border-bottom: 2px solid var(--fg-secondary);
}

h1 {
  margin-top: 1em;
  font-size: 4.2em;
  font-family: "Montserrat";
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Montserrat";
  line-height: 1.1;
  text-transform: uppercase;
}

h3 {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  font-weight: 500;
  letter-spacing: 2px;
  width: fit-content;
  margin: 0 auto 0.5em;
  padding: 0 1em;
  font-size: 1.6em;
}
button {
  cursor: pointer;
}
.shortcut-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 1em;
}
.shortcut-links a,
.shortcut-links button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
}
.shortcut-icon {
  font-size: 40px;
  padding: 0.2em;
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  transition: 0.2s;
  border: 2px solid transparent;
}
.shortcut-icon:hover {
  background-color: var(--fg-primary);
  color: var(--font-primary);
  border: 2px solid var(--font-primary);
}

.email-status {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.1s ease-out;
}
.show {
  transform: translateX(0);
  opacity: 1;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid var(--fg-secondary);
  position: sticky;
  top: 0;
  padding-top: 1em;
  padding-bottom: 0.2em;
  backdrop-filter: blur(25px);
  background-color: rgba(227, 220, 188, 0.742);
  z-index: 4;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  list-style: none;
  width: 100%;
  margin-bottom: 0.5em;
  border-left: 8px double var(--font-primary);
}
nav a {
  color: var(--font-primary);
  text-transform: uppercase;
  background-color: var(--fg-secondary);
  padding: 0.2em 2em 0.2em 1em;
  border-left: 4px double #1a1a1a;
  transition: 0.2s;
  font-weight: bold;
}
nav a:hover {
  background-color: var(--fg-primary);
  color: #1a1a1a;
  box-shadow: 5px 0 5px #1a1a1a23;
  padding-bottom: 0.8em;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
